extends layout

block content
  div.container-fluid
    div.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand ReCharge Health
        ul.nav
          li.active 
            a(href='#') Home
          li 
            a(href='#') Register
          li
            a(href='#') Login
    