extends layout

block content
  div.container-fluid
    div.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand ReCharge Health
        ul.nav
          li
            a(href='/') Home
          li 
            a(href='#') Register
          li.active
            a(href='/login') Login
    div
      form(method='post', action'')
        p
          label(for='username') Username:
          input(type='text', name='username')
        p
          label(for='password') Password:
          input(type='password', name='password')
        p
          input(type='submit', value = 'Login')